<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <header></header>
    <h3>Already have an account? Please login.</h3>
    <hr id="top-line"/>
    <form id method="POST" action="/">
        <input name="username" id="username" type="text" placeholder="Enter account username or email.">
        <input name="password" id="password" type="password" placeholder="Emter password.">
        <button name="login" action='submit'>Login</button>
    <h3>Need An Account? Sign Up.</h3>
    <h3 id="option links">
        <a href="/signup">Sign Up Here</a>
    </h3>
    </form>
  
</body>
</html>