<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <header></header>
    <h3>Don't have an account? Please Signup:</h3>
    <hr id="top-line"/>
    <form id method="POST" action="/signup">
        <input name="username" id="username" type="text" placeholder="Enter account username or email.">
        <input name="password" id="password" type="password" placeholder="Emter password.">
        <button name="login" action='submit'>Signup</button>
    <p id="redirect">Already Signed Up? Try logging in again.</p>
    <div id="option links">
        <a href="/">Sign In Here</a>
    </div>
    </form>
    
</body>
</html>